body {
    background-color: rgba(216, 162, 18, 0.5);
    margin: 0px !important;
}

header {
    border-bottom-color: #013863;
}

nav {
    width: 100%;
    height: 50px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarmenu {
    display: flex;
}

button.navbarbutton {
    border: solid;
    border-color: #013863;
    height: 30px;
    width: 90px;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: Acme;
    margin: 25px;
    cursor: pointer;
    background-color: #007b84;
}

#containerGrid {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.headshot {
    justify-content: start;
    align-content: center;
    width: 100%;
    text-align: center;
}

.imageheadshot {
    width: 30%;
    height: auto;
}

.images {
    width: 100%;
    height: auto;
}

.AboutMe {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.AboutMe h1 {
    font-family: Acme;
    font-size: 48px;
    font-style: normal;
    color: black;
}

.AboutMe h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    color: black;
}

.AboutMe p {
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    color: black;
}

button {
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Acme;
    margin-top: 30px;
    margin-left: 16px;
    margin-right: 16px;
    height: 58px;
    width: 252px;
    cursor: pointer;
    background-color: #007b84;
    border-radius: 20px;
}

.CaseStudy1, .CaseStudy2, .CaseStudy3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: #013863;
    color: black;
    padding: 2%;
    margin-bottom: 20px;
}

.CaseStudy1 {
    margin-top: 20px;
}

.CaseStudyText {
    width: 65%;
} 

.CaseStudyText h1 {
    text-align: left;
    font-family: Arimo;
    font-size: 24px;
    font-style: bold;
    }

.CaseStudyText p {
    text-align: left;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    }

.CaseStudyImg {
    width: 30%;
}

#bottomLeft {
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 20px;
}

#bottomRight {
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 20px;
}


footer {
    width: 100%;
    height: 50px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #013863;
    }

.Copyright {
    font-family: Arimo;
    font-size: 16px;
    font-style: bold;
    color: white;
    width: 40%;
    text-align: center;
    }

.FooterLinkedText {
    display: flex;
}

.FooterLinkedText a {
    font-family: Arimo;
    font-size: 16px;
    font-style: bold;
    color: white;
    padding: 16px;
    margin: 15px;
}

@media only screen and (max-width: 600px) {
    #containerGrid {
        grid-template-columns: 100%;
    }
}